投稿フォーム

<div class="row">
  <div class="col-sm-6 offset-sm-3">

    <%= form_with(model: @post, local: true) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
      <div class="form-group">
        <%= f.label :tag, 'タグ' %>
        <%= f.collection_select(:tag_id, Tag.all, :id,:name) %>
      </div>     
      
      <div class="row">
        <div class="form-group col-sm-6">
          <%= f.label :sake_name, 'お酒' %>
          <%= f.text_field :sake_name, class: 'form-control' %>
        </div>

        <div class="form-group col-sm-6">
          <%= f.label :meshi_name, '飯' %>
          <%= f.text_field :meshi_name, class: 'form-control' %>
        </div>          
      </div>
  
      
      <div class="form-group">
        <%= f.label :content, 'content' %>
        <%= f.text_area :content, class: 'form-control' %>
      </div>      
      
      <div class="form-group">
        <%= f.label :画像 %><br />
        <%= f.file_field :img, class: "img" %>        
      </div>

      <%= f.submit '投稿', class: 'btn btn-primary btn-block mt-4' %>
    <% end %>
  </div>
</div>
